header
  a.site-title(href='/', aria-label='darius.codes')
    span(aria-hidden='true').site-title__txt darius
    span(aria-hidden='true').site-title__dot .
    span(aria-hidden='true').site-title__txt codes
  p.site-description= site.description
  nav
    ul.navigation
      each page in collections.pages
        li.navigation__item
          a(href=page.url)= page.data.title
