header
  a.site-title(href='/')
    span.site-title__txt darius
    span.site-title__dot .
    span.site-title__txt codes
  p.site-description= site.description
  nav
    ul.navigation
      each page in collections.pages
        li.navigation__item
          a(href=page.url)= page.data.title
